<div class="col-md-7 offset-md-3 col-12 col-sm-12 col-lg-5 offset-lg-4 col-xl-4 offset-xl-4 mt-2">
  <h4 class="text-center">Updating data</h4>
  <form [formGroup]="editForm" novalidate (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" class="form-control " id="name" formControlName="name"  [(ngModel)]="userBaseInfo.name" >
      <ngb-alert type="danger" class="mt-2"  [dismissible]="false" *ngIf="editForm.get('name').invalid && editForm.get('name').touched">
        <div *ngIf="editForm.get('name').errors.required">
          Is a required field.
        </div>
        <div *ngIf="editForm.get('name').errors.maxlength">
          Maximum length of name equals 20 symbols. Now it is {{userBaseInfo.name.length}}
        </div>
      </ngb-alert>
    </div>
    <div class="form-group">
      <label for="surname">Surname</label>
      <input type="text" class="form-control" id="surname" formControlName="surname"  [(ngModel)]="userBaseInfo.surname" >
      <ngb-alert type="danger" class="mt-2" [dismissible]="false" *ngIf="editForm.get('surname').invalid && editForm.get('surname').touched">
        <div *ngIf="editForm.get('surname').errors.required">
          Is a required field.
        </div>
        <div *ngIf="editForm.get('surname').errors.maxlength">
          Maximum length of surname equals 20 symbols. Now it is {{userBaseInfo.surname.length}}
        </div>
      </ngb-alert>
    </div>
    <div class="form-group">
      <label for="dateOfBirth">Date of birth</label>
      <input type="date" class="form-control" id="dateOfBirth" formControlName="dateOfBirth"  [(ngModel)]="userBaseInfo.dateOfBirth" >
      <ngb-alert type="danger" class="mt-2" [dismissible]="false" *ngIf="editForm.get('dateOfBirth').invalid && editForm.get('dateOfBirth').touched">
        <div *ngIf="editForm.get('dateOfBirth').errors.required">
          Is a required field.
        </div>
      </ngb-alert>
    </div>
    <div class="form-group">
      <label for="telephoneNumber">Mobile phone</label>
      <input type="text" class="form-control" id="telephoneNumber" formControlName="telephoneNumber"  [(ngModel)]="userBaseInfo.phoneNumber" >
      <ngb-alert type="danger" class="mt-2" [dismissible]="false" *ngIf="editForm.get('telephoneNumber').invalid && editForm.get('telephoneNumber').touched">
        <div *ngIf="editForm.get('telephoneNumber').errors.required">
          Is a required field.
        </div>
        <div *ngIf="editForm.get('telephoneNumber').errors.pattern">
          Incorrect format of telephone number.
        </div>
      </ngb-alert>
    </div>
    <div class="form-group">
      <label for="passportNumber">Passport serial number</label>
      <input type="text" class="form-control" id="passportNumber" formControlName="passportNumber" [(ngModel)]="userBaseInfo.passportSerialNumber">
    </div>
    <div class="form-group">
      <label for="passportId">Passport Id</label>
      <input type="text" class="form-control" id="passportId" formControlName="passportId" [(ngModel)]="userBaseInfo.passportId">
    </div>
    <div class="text-center">
      <button type="submit" class="btn btn-primary" [disabled]="editForm.invalid || isLoading">Update</button>
    </div>
  </form>
</div>
