<h3 class="text-center">Find cars</h3>
<div class="form-group m-2">
    <label for="countries">Country</label>
    <input list="countryList" class="form-control" id="countries" placeholder="Type country name">
    <datalist id="countryList">
      <option value="Текст1">
      <option value="Текст2">
      <option value="Текст1">
      <option value="Текст2">
    </datalist>
</div>
<div class="form-group m-2">
  <label for="cities">City</label>
  <input list="cityList" class="form-control" id="cities" placeholder="Type country name">
  <datalist id="cityList">
    <option value="Текст1">
    <option value="Текст2">
  </datalist>
</div>
<div class="form-group m-2">
  <label for="points">Rental point name</label>
  <input list="pointsList" class="form-control" id="points" placeholder="Type country name">
  <datalist id="pointsList">
    <option value="Текст1">
    <option value="Текст2">
  </datalist>
</div>
