<div style="width: 100%">
    <h3 class="text-center">Find cars</h3>
    <div class="form-group m-2">
      <label for="countries">Country</label>
      <select name="" id="countries" class="form-control"
              (focus)= "countrySelect.size = 3" (blur)="countrySelect.size = 1"
              (change)="countrySelect.size = 1;countrySelect.blur(); onCountryChange(countrySelect.value);"
              #countrySelect>
        <option value="" selected [disabled]="carFilter?.countyId">Choose</option>
        <option *ngFor="let country of countries" [value]="country?.id">{{country?.name}}</option>
      </select>
    </div>
    <div class="form-group m-2">
      <label for="cities">City</label>
      <select name="" id="cities" class="form-control"
              [disabled]="!carFilter?.countyId"
              (focus)= "citySelect.size = 3" (blur)="citySelect.size = 1"
              (change)="citySelect.size = 1;citySelect.blur(); onCityChange(citySelect.value);"
              #citySelect>
        <option value="" selected [disabled]="carFilter?.cityId">Choose</option>
        <option *ngFor="let city of cities" [value]="city?.id">{{city?.name}}</option>
      </select>
    </div>
  <div class="form-group m-2">
    <label for="points">Rental points</label>
    <select name="" id="points" class="form-control"
            [disabled]="!carFilter?.cityId"
            (focus)= "pointSelect.size = 3" (blur)="pointSelect.size = 1"
            (change)="pointSelect.size = 1;pointSelect.blur();"
            (change)="onPointChange(pointSelect.value)"
            #pointSelect>
      <option value="" selected [disabled]="carFilter?.rentalPointId">Choose</option>
      <option *ngFor="let point of rentalPoints" [value]="point?.id">{{point?.name}}</option>
    </select>
  </div>
    <div class="form-group m-2">
    <label for="marks">Mark</label>
    <div class="content-list">
      <div class="content-item">
        <div id="marks" class="row w-100">
            <div *ngFor="let mark of marks" class="col-lg-6">
              <input type="checkbox" [value]="mark" (change)="onMarkChange($event, mark)">
              <label class="ml-2">{{mark}}</label>
            </div>
        </div>
      </div>
      </div>
    </div>
    <div class="form-group m-2">
      <label for="transmissions">Transmission</label>
      <div class="content-list">
        <div class="content-item">
          <div id="transmissions" class="row w-100">
            <div *ngFor="let transmission of transmissions" class="col-lg-6">
              <input type="checkbox" [value]="transmission" (change)="onTransmissionChange($event, transmission)">
              <label  class="ml-2">{{transmission}}</label>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="form-group m-2">
      <label for="carcases">Carcases</label>
      <div class="content-list">
        <div class="content-item">
          <div id="carcases" class="row w-100">
            <div *ngFor="let carcase of carcases" class="col-lg-6">
              <input type="checkbox" [value]="carcase" (change)="onCarcasesChange($event, carcase)">
              <label  class="ml-2">{{carcase}}</label>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="form-group m-2">
      <div class="row">
        <button class="col-lg-2 offset-lg-4 text-center btn btn-info mt-4" (click)="onFilter()">Find!</button>
      </div>
    </div>
</div>

