<div class="container mt-3">
    <h4 class="text-center">Adding a rental point</h4>
  <div class="row">
    <div class="col-lg-2 offset-lg-2">
      <button class="btn btn-warning" (click)="showMap()">By map <i class="fas fa-map-marker-alt"></i></button>
    </div>
    <div class="col-lg-2 offset-lg-4">
      <button class="btn btn-warning" (click)="showForm()">By location <i class="fas fa-align-left"></i></button>
    </div>
  </div>
  <div class="row mt-2 mb-2" *ngIf="choice==='location'; else map;">
    <app-create-rental-point-by-location class="col-lg-12"></app-create-rental-point-by-location>
  </div>
  <ng-template #map>
    <div class="mt-3">
      <app-map-searchbox></app-map-searchbox>
    </div>
  </ng-template>
</div>
