<table class="table table-striped">
  <thead>
  <tr>
    <th scope="col">№</th>
    <th scope="col">Mark</th>
    <th scope="col">Model</th>
    <th scope="col">Carcase</th>
    <th scope="col">Release year</th>
    <th scope="col">Transmission</th>
    <th scope="col">Fuel type</th>
    <th scope="col">Status</th>
    <th scope="col"></th>
    <th scope="col"></th>
    <th scope="col"></th>
  </tr>
  </thead>
  <tbody>
  <ng-container *ngFor="let car of cars; let i = index;">
    <tr>
      <th scope="row">{{i+1}}</th>
      <td>{{car.mark}}</td>
      <td>{{car.model}}</td>
      <td>{{car.carcase}}</td>
      <td>{{car.releaseYear}}</td>
      <td>{{car.transmission}}</td>
      <td>{{car.fuelType}}</td>
      <td>Free</td>
      <td><button type="button" class="btn btn-primary btn-sm" [routerLink]="['', 'carinfo', car.id]">Full info<i class="far fa-file-alt ml-1"></i></button></td>
      <td><button type="button" class="btn btn-warning btn-sm" [routerLink]="['', 'caredit', car.id]">Update<i class="fas fa-pencil-alt ml-1"></i></button></td>
      <td><button type="button" class="btn btn-danger btn-sm" (click)="onDelete(car.id)">Delete<i class="fas fa-trash-alt ml-1"></i></button></td>
    </tr>
  </ng-container>
  </tbody>
</table>
