<div class="mt-1 mb-1">
  <strong><span class="card-text">Year: </span></strong>{{car?.releaseYear}}<br>
  <hr>
</div>
<div class="mt-1 mb-1">
  <strong><span class="card-text">Transmission: </span></strong>{{car?.transmission}}<br>
  <hr>
</div>
<div class="mt-1 mb-1">
  <strong><span class="card-text">Carcase: </span></strong>{{car?.carcase}}<br>
  <hr>
</div>
<div class="mt-1 mb-1">
  <strong><span class="card-text">Engine power: </span></strong>{{car?.enginePower}}<br>
  <hr>
</div>
<div class="mt-1 mb-1">
  <strong><span class="card-text">Fuel's consumption: </span></strong>{{car?.fuelConsumption}}<br>
  <hr>
</div>
<div class="mt-1 mb-1">
  <strong><span class="card-text">Tank's volume: </span></strong>{{car?.tankVolume}}<br>
  <hr>
</div>
<div class="mt-1 mb-1">
  <strong><span class="card-text">Fuel's type: </span></strong>{{car?.fuelType}}<br>
  <hr>
</div>
<div class="mt-1 mb-1">
  <strong><span class="card-text">Trunk's volume: </span></strong>{{car?.trunkVolume}}<br>
  <hr>
</div>
