<div class="container">
  <h3 class="text-center mt-2 mb-2">Bookings</h3>
  <ng-container *ngIf="authorizeService.isAdmin || authorizeService.isManager">
    <div class="row mb-4">
      <div class="col-lg-12 text-center">
        <button class="btn btn-warning mr-2" (click)="getAllBookings()">All</button>
        <button class="btn btn-warning mr-2" *ngFor="let status of statuses; let i = index;" (click)="getBookingByStatus(i)">{{status}}</button>
      </div>
    </div>
    <div class="row" *ngFor="let booking of bookings$| async">
      <div class="col-lg-10 offset-lg-1">
        <app-booking-card [bookingInfoForRead]="booking" (clickApprove)="approveBooking($event)" (clickReject)="rejectBookingByManager($event)"></app-booking-card>
      </div>
    </div>
    <h4 class="text-center" *ngIf="!(bookings$ | async)?.length">There are no such bookings.</h4>
  </ng-container>
  <ng-container *ngIf="authorizeService.isUser">
    <div class="row mb-4">
      <div class="col-lg-12 text-center">
        <button class="btn btn-warning mr-2" (click)="getAllUserBookings()">All</button>
        <button class="btn btn-warning mr-2" *ngFor="let status of statuses; let i = index;">{{status}}</button>
      </div>
    </div>
    <div class="row" *ngFor="let booking of bookings$| async">
      <div class="col-lg-10 offset-lg-1">
        <app-booking-card [bookingInfoForRead]="booking" (clickReject)="rejectBookingByUser($event)"></app-booking-card>
      </div>
    </div>
  </ng-container>
</div>
