.chat_header{
  color: #94b03b;
}
.messaging{
  width: 100%;
  max-height: 650px;
  border: 3px solid #999999;
  border-radius: 3px;
  overflow-y: scroll;
}
.messaging::-webkit-scrollbar {
  display: none;
}
