<div class="row">
  <div class="col-lg-12">
    <div class="text-center mb-3 mt-3">
      <i class="fas fa-user-edit fa-7x text-center"></i>
    </div>
    <form [formGroup]="editForm" novalidate (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="name">Name</label>
        <input type="text" class="form-control " id="name" formControlName="name"  [(ngModel)]="editUser.name" >
        <ngb-alert type="danger" class="mt-2"  [dismissible]="false" *ngIf="editForm.get('name').invalid && editForm.get('name').touched">
          <div *ngIf="editForm.get('name').errors.required">
            Is a required field.
          </div>
          <div *ngIf="editForm.get('name').errors.maxlength">
            Maximum length of name equals 20 symbols. Now it is {{editUser?.name?.length}}
          </div>
        </ngb-alert>
      </div>
      <div class="form-group">
        <label for="surname">Surname</label>
        <input type="text" class="form-control" id="surname" formControlName="surname"  [(ngModel)]="editUser.surname" >
        <ngb-alert type="danger" class="mt-2" [dismissible]="false" *ngIf="editForm.get('surname').invalid && editForm.get('surname').touched">
          <div *ngIf="editForm.get('surname').errors.required">
            Is a required field.
          </div>
          <div *ngIf="editForm.get('surname').errors.maxlength">
            Maximum length of surname equals 20 symbols. Now it is {{editUser?.surname?.length}}
          </div>
        </ngb-alert>
      </div>
      <div class="form-group">
        <label for="dateOfBirth">Date of birth</label>
        <input type="date" class="form-control" id="dateOfBirth" formControlName="dateOfBirth"  [(ngModel)]="editUser.dateOfBirth" >
        <ngb-alert type="danger" class="mt-2" [dismissible]="false" *ngIf="editForm.get('dateOfBirth').invalid && editForm.get('dateOfBirth').touched">
          <div *ngIf="editForm.get('dateOfBirth').errors.required">
            Is a required field.
          </div>
        </ngb-alert>
      </div>
      <div class="form-group">
        <label for="telephoneNumber">Mobile phone</label>
        <input type="text" class="form-control" id="telephoneNumber" formControlName="telephoneNumber"  [(ngModel)]="editUser.phoneNumber" >
        <ngb-alert type="danger" class="mt-2" [dismissible]="false" *ngIf="editForm.get('telephoneNumber').invalid && editForm.get('telephoneNumber').touched">
          <div *ngIf="editForm.get('telephoneNumber').errors.required">
            Is a required field.
          </div>
          <div *ngIf="editForm.get('telephoneNumber').errors.pattern">
            Incorrect format of telephone number.
          </div>
        </ngb-alert>
      </div>
      <div class="form-group">
        <label for="passportNumber">Passport serial number</label>
        <input type="text" class="form-control" id="passportNumber" formControlName="passportNumber" [(ngModel)]="editUser.passportSerialNumber">
      </div>
      <div class="form-group">
        <label for="passportId">Passport Id</label>
        <input type="text" class="form-control" id="passportId" formControlName="passportId" [(ngModel)]="editUser.passportId">
      </div>
      <div class="form-group">
        <label for="role">Role</label>
        <select class="form-control" id="role" formControlName="role" [(ngModel)]="editUser.role">
          <option *ngFor="let role of roles" [attr.selected]="role === editUser?.role">{{role}}</option>
        </select>
        <ngb-alert type="danger" class="mt-2" [dismissible]="false" *ngIf="editForm.get('role').invalid && editForm.get('role').touched">
          <div *ngIf="editForm.get('role').errors.required">
            Role is a required.
          </div>
        </ngb-alert>
      </div>
      <div class="text-center">
        <button type="submit" class="btn btn-warning" [disabled]="editForm.invalid">Update</button>
      </div>
    </form>
  </div>
</div>
