<div id="carousel" class="carousel slide carousel-fade" data-ride="carousel" data-interval="5000">
  <div class="carousel-inner">
    <div class="carousel-item" [class.active]="i===0" *ngFor="let imgUrl of imageDataUrls; let i = index;">
      <img [src]="imgUrl" class="d-block w-100" alt="Car's photo" height="340px" width="500px">
    </div>
  </div>
  <ng-container *ngIf="imageDataUrls?.length>1">
    <a class="carousel-control-prev" href="#carousel" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carousel" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </ng-container>
</div>

